
body{
    margin: 0px;
    padding: 0px;
    width: 10%;
    height: 800px;
    background: url(street-workout-2629171_1920.jpg)
    
}
.header{
    color: red;
}
.left{
    color: white;
    padding: 54px;
    top: 100px;

}
.mid{
    color: white;
    position: absolute;
    top: 40px;
    left: 500px;
}
.right{
    color: white;
    position: absolute;
    right: 40px;
    top: 40px
}
.left img{
    margin-top: 40px;
}
.navbar li{
    display: inline-block
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
.navbar li a:hover{
    color:wheat;
    text-decoration: underline;
}
.left p{
    font-size: 9px;
    text-align: center;
}
.left div{
    margin: 20px;
}
.right button{
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.right button:hover{
    background-color: darkolivegreen;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 18px;
}
.midleft{
    padding: 1px;
    background-color: black;
    color: white;
    opacity: 50%;
    padding: 80px 400px 80px 150px;
    margin-top: 200px;
    margin-left: 500px;
}
.midleft input{
    font-size: 15px;
    background-color: white;
    text-align: center;
}
.p{
    color: red;
}
.midleft h3{
    left: 500px;
}
